include components/button.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='index.css')
    script(defer src='index.js')
    title= 'Быстрый запуск Pug'
  body
    h1.name= 'Код написан в шаблонизаторе Pug!'
    p.text= 'Нажми кнопку'
    +button()
    

    p.text= 'Если что-то не так, звони на мобилу:'
    a.link(href='tel:+79189999999' title='Позвонить')      
      img.icon-phone(src='svg/phone_black_24dp.svg' role='img')
      .phone-number='+79189999999'

    p.text= 'или скинь на мыло:'
    a.link(href='mailto:info@jinv.ru' title='Написать письмо')
      svg.icon(role='img')
        use(href='svg/sprite.svg#email_black_24dp')
      .address='info@jinv.ru'

    p.text= 'либо на телегу:'
    a.link(href='https://t.me/jashkin' title='Написать в Телеграм')
      svg.icon(role='img')
        use.custom-svg(href='svg/sprite.svg#telegram')
      .address='@jashkin'