include components/button.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='index.css')
    script(defer src='index.js')
    title= 'Быстрый запуск Pug'
  body
    h1.name= 'Код написан в шаблонизаторе Pug!'
    +button()
    p.text= 'Нажми кнопку'
    p.text= 'Если что-то не так звони по телефону:'
    a.phone-link(href='tel:+79189999999')      
      img.icon-phone(src='svg/phone_black_24dp.svg')
      .phone-number='+79189999999'